<a href="https://colab.research.google.com/github/BillieOdelle/deep_learning_challenge/blob/main/AlphabetSoupCharity_Optimisation_Second.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1588]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [1589]:
# Drop the non-beneficial ID columns.
df = application_df.drop(columns=['NAME','SPECIAL_CONSIDERATIONS','STATUS'])
df

,EIN,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,10520599,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,10531628,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,10547893,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,10553066,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,10556103,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1
...,...,...,...,...,...,...,...,...,...
34294,996009318,T4,Independent,C1000,ProductDev,Association,0,5000,0
34295,996010315,T4,CompanySponsored,C3000,ProductDev,Association,0,5000,0
34296,996012607,T3,CompanySponsored,C2000,Preservation,Association,0,5000,0
34297,996015768,T5,Independent,C3000,ProductDev,Association,0,5000,1
34298,996086871,T3,Independent,C1000,Preservation,Co-operative,1M-5M,36500179,0

In [1590]:
# Look at APPLICATION_TYPE value counts for binning
application_types = df['APPLICATION_TYPE'].value_counts()
application_types

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [1591]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 527
application_types_to_replace = application_types[application_types <= cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [1592]:
# Look at CLASSIFICATION value counts for binning
classification_types = df['CLASSIFICATION'].value_counts()
classification_types

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [1593]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_types = classification_types[classification_types > 1]
print(classification_types)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [1594]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 1800
classifications_to_replace = application_types[application_types <= cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [1595]:
# Convert categorical data to numeric with `pd.get_dummies`
df = df.drop('CLASSIFICATION', axis=1)
df_encoded = pd.get_dummies(df)
df_encoded

,EIN,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,10520599,5000,1,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,10531628,108590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,10547893,5000,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
3,10553066,6692,1,0,0,0,1,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,10556103,142590,1,0,0,0,1,0,0,0,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,5000,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
34295,996010315,5000,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
34296,996012607,5000,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34297,996015768,5000,1,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
34298,996086871,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [1596]:
# Split our preprocessed data into our features and target arrays
X = df_encoded.drop(['IS_SUCCESSFUL'], axis=1)
y = df_encoded['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=110)

In [1597]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [1598]:
# Define the deep learning model
nn_model = tf.keras.models.Sequential()
#First Layer
nn_model.add(tf.keras.layers.Dense(units=128, activation="relu", input_dim=X_train.shape[1]))
#Second Layer
nn_model.add(tf.keras.layers.Dense(units=64, activation="relu"))
#Output
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

In [1599]:
# Compile the Sequential model together and customise metrics
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [1600]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=10)

Epoch 1/10
751/751 [==============================] - 3s 3ms/step - loss: 0.5821 - accuracy: 0.7168
Epoch 2/10
751/751 [==============================] - 2s 3ms/step - loss: 0.5719 - accuracy: 0.7244
Epoch 3/10
751/751 [==============================] - 2s 3ms/step - loss: 0.5693 - accuracy: 0.7250
Epoch 4/10
751/751 [==============================] - 2s 3ms/step - loss: 0.5675 - accuracy: 0.7272
Epoch 5/10
751/751 [==============================] - 2s 3ms/step - loss: 0.5666 - accuracy: 0.7273
Epoch 6/10
751/751 [==============================] - 2s 3ms/step - loss: 0.5652 - accuracy: 0.7270
Epoch 7/10
751/751 [==============================] - 2s 3ms/step - loss: 0.5643 - accuracy: 0.7291
Epoch 8/10
751/751 [==============================] - 2s 3ms/step - loss: 0.5636 - accuracy: 0.7276
Epoch 9/10
751/751 [==============================] - 2s 3ms/step - loss: 0.5627 - accuracy: 0.7285
Epoch 10/10
751/751 [==============================] - 2s 3ms/step - loss: 0.5618 - accuracy: 0.7292

In [1601]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

322/322 - 1s - loss: 0.5599 - accuracy: 0.7323 - 593ms/epoch - 2ms/step
Loss: 0.5599005818367004, Accuracy: 0.7322643399238586

In [1602]:
# Export our model to HDF5 file
nn_model.save('AlphabetSoupCharity_Optimisation_Second.h5')
loaded_model = tf.keras.models.load_model('AlphabetSoupCharity_Optimisation_Second.h5')